.wrapper {
    background-color: rgb(227, 0, 15);
    background-color: #e6000f; /* hex */

    background-color: yellow; /* keywords */
}

.default {
    background-color: #e6000f;
    border: none;
    padding: 10px;
}

.outline {
    background-color: transparent;
    border: 2px solid #e6000f;
}

#cta {
    display: block;
    width: 150px;
    height: 150px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 50%;
    box-shadow: 15px 10px 20px 0px rgba(0, 0, 0, 1);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
