body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

article {
    background-color: lightgray;
    padding: 10px;
}

.article-1 {
    border: 2px solid red;
}

.article-2 {
    border: 2px solid green;
}

.article-3 {
    border: 2px solid orange;
}

article h2 {
    /* h2, welche sich innerhalb des article befindet */
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

@media (min-width: 768px) {
    section {
        display: flex;
    }
}